body {
    background-position: center;
    background-size: cover;
    background-image: url('imagesdata/futuro.jpeg');
    font-family: sans-serif;
    color: rgb(252, 251, 249);
}

img {
    display: block;
    object-fit: cover;
    width: 90px;
    height: 130px;
    border-radius: 60px;
    box-shadow: 2px 17px 10px 0px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container img {
    margin: 10px; /* Espaciado entre las imágenes */
    width: calc(33.33% - 20px); /* Ajusta el ancho y resta el margen */
}

.li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

footer {
    width: 100%;
    height: 81px;
    position: relative;
    bottom: 0;
    left: 0;
}